@use '../abstracts/' as *;

.nav {
   @include m(pm) {
      @include mq(max-width, tablet) {
         padding-block: 2rem;
         @include position(absolute) {
            top: 100%;
            right: 0;
            left: 5%;
         }
         background-color: hsl(var(--clr-light-grey));
         transform: rotateX(90deg);
         transition: transform 0.3s ease-in-out;

         &[data-visible='true'] {
            transform: rotate(0);
         }
      }
   }

   @include e(list) {
      @include mq(max-width, tablet) {
         & a {
            display: block;
            padding: 1rem 3rem;
            &:hover {
               text-decoration: underline;
            }
         }
      }

      @include mq(min-width, tablet) {
         @include flexy($just: center, $align: center);
      }
   }
}

// body mb nav styles

// body {
// }
