@use '../abstracts/' as *;

.nav {
   @include m(pm) {
      @include mq(max-width, tablet) {
         background-color: hsl(var(--clr-light-grey));
         @include position(absolute, $width: 430px) {
            top: 100%;
            right: 0;
         }
      }
   }

   @include e(list) {
      @include mq(min-width, tablet) {
         @include flexy($just: center, $align: center);
      }
   }
}
