$type-scale: (
   mobile: (
      size: (
         fs-500: 12.5rem,
         // h1
         fs-400: 5rem,
         // h1
         fs-300: 3.5rem,
         // h2
         fs-200: 1.125rem,
         // h3
         fs-100: 0.9375rem,
      ),
      line-height: (
         lh-500: 1,
         lh-400: 1,
         lh-300: 1,
         lh-200: 1.3889,
         lh-100: 1.6667,
      ),
      weight: (
         fw-bold: 700,
         fw-medium: 500,
         fw-regular: 400,
      ),
      character-spacing: (
         cs-500: -5px,
         cs-400: -2px,
         cs-300: -2px,
      ),
   ),
   tablet: (
      size: (),
      line-height: (),
      weight: (),
      character-spacing: (),
   ),
   desktop: (
      size: (),
      line-height: (),
      weight: (),
      character-spacing: (),
   ),
);
