$layout: (
   mobile: (
      center-left-tablet: center,
      center-left-dekstop: center,
      center-pricing-card: center,
      center: center,
      gap: 2rem,
      flow-space: 1.5rem,
      ct-padding-header: 13rem 0 6.5rem,
      ct-padding-footer: 5rem 0,
   ),
   tablet: (
      center-left-tablet: left,
      center-pricing-card: left,
   ),
   desktop: (
      center-left-dekstop: left,
      center-pricing-card: center,
   ),
);
